/* Login.css */

  
  .login-container {
    max-width: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #aee1e1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555555;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  
  .submit-button {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  